﻿<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>調査結果</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <div id="first-pie-chart" class="chart"></div>
            <!--<svg width="960" height="500"></svg>-->
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <div id="second-pie-chart" class="chart"></div>
            <!--<svg width="960" height="500"></svg>-->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
        <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <div id="third-pie-chart" class="chart"></div>
            <!--<svg width="960" height="500"></svg>-->
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <div id="fourth-pie-chart" class="chart"></div>
            <!--<svg width="960" height="500"></svg>-->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <h5 text-center>商品の気に入った点 (D3)</h5>
            <div id="first-bar-chart" class="chart"></div>
            <!--<svg width="960" height="500"></svg>-->
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <div id="second-bar-chart" class="chart"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
        <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <h5 text-center>商品の改善点 (D3)</h5>
            <div id="third-bar-chart" class="chart"></div>
            <!--<svg width="960" height="500"></svg>-->
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <div id="fourth-bar-chart" class="chart"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-card>
    <ion-card-content>
      <div id="access-line-chart"></div>
    </ion-card-content>
  </ion-card> -->
</ion-content>
