﻿$primary-color: #488aff;
page-dashboard {
  ion-card {
    width: 100%;

    &.card-md {
      transition: all 0.3s;
      -webkit-box-shadow: 7px 7px 5px 0px rgba(170, 170, 170, 1);
      -moz-box-shadow: 7px 7px 5px 0px rgba(170, 170, 170, 1);
      box-shadow: 7px 7px 5px 0px rgba(170, 170, 170, 1);
      border: 1px rgba(170, 170, 170, 1) solid;

      &:hover {
        box-shadow: 2px 2px 2px 0px rgba(170, 170, 170, 1);
        background: #fffccc;
      }
    }

  }

  #access-line-chart {
    height: 500px;
    width: 100%;
  }

  .chart {
    height: 500px;
    width: 100%;

 
  }
  .bar{
   fill: $primary-color;
  }

}
