﻿<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-label class="question">1. 夕食作りにかけている時間（1週間の平均）を、以下から選んでお答えください。</ion-label>
  <ion-list radio-group [(ngModel)]="survey.dinner">
    <ion-item>
      <ion-label>0-10分</ion-label>
      <ion-radio value="0" item-left></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>10-20分</ion-label>
      <ion-radio value="1" item-left></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>20-30分</ion-label>
      <ion-radio value="2" item-left></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>30-40分</ion-label>
      <ion-radio item-left value="3"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>40-50分</ion-label>
      <ion-radio item-left value="4"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>50-60分</ion-label>
      <ion-radio item-left value="5"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>60分以上</ion-label>
      <ion-radio item-left value="6"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-label class="question">2. 今回のサンプルで一番気に入った点について、以下から選んでお答えください。</ion-label>
  <ion-list radio-group [(ngModel)]="survey.preference">
    <ion-item>
      <ion-label>安心・安全（農薬・添加物）</ion-label>
      <ion-radio item-left value="0" ></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>安心・安全（放射性物質)</ion-label>
      <ion-radio item-left value="1"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>おいしさ</ion-label>
      <ion-radio item-left value="2"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>価格</ion-label>
      <ion-radio item-left value="3"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>鮮度</ion-label>
      <ion-radio item-left value="4"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>食材のバリエーション</ion-label>
      <ion-radio item-left value="5"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>サービス対応の良さ</ion-label>
      <ion-radio item-left value="6"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-label class="question">3. 今後、定期便を購入するにあたり一番懸念されていることを、以下から選んでお答えください。</ion-label>
  <ion-list radio-group [(ngModel)]="survey.concern">
    <ion-item>
      <ion-label>野菜の鮮度が不安</ion-label>
      <ion-radio item-left value="0"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>配送された野菜を使いきれなさそう</ion-label>
      <ion-radio item-left value="1"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>野菜のバリエーションが少ない</ion-label>
      <ion-radio item-left value="2"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>価格が高い</ion-label>
      <ion-radio item-left value="3"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>家族の好き嫌いに対応できない</ion-label>
      <ion-radio item-left value="4"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>配送を受け取れるか不安</ion-label>
      <ion-radio item-left value="5"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>特になし</ion-label>
      <ion-radio item-left value="6"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-label class="question">4. 食材の定期宅配をお使いになったことはありますか？</ion-label>
  <ion-list radio-group [(ngModel)]="survey.experience">
    <ion-item>
      <ion-label>はじめてサンプル購入をした</ion-label>
      <ion-radio item-left value="0"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>他社のサンプル購入をしたことがある</ion-label>
      <ion-radio item-left value="1"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>今まで他社の定期便を利用していた</ion-label>
      <ion-radio item-left value="2"></ion-radio>
    </ion-item>
  </ion-list>

  <button ion-button (click)="onSubmit()" icon-start>
    <!-- <ion-icon name="paper-plane"></ion-icon> -->
    提出
  </button>
</ion-content>
