page-survey {

  ion-label.question {
    font-size: 21px;
  }

  button {
    &.button-md {
      transition: all 0.3s;
      padding: 20px;
      font-size: 21px;
      box-shadow: 3px 3px 3px 0px rgba(170, 170, 170, 1);

      &:hover {
        box-shadow: none;
        opacity: 0.9;
      }
    }
  }

}
