﻿<!--
  Generated template for the CompletionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Completion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="completion">
<ion-label align = center>ありがとうございました！</ion-label>

</ion-content>