﻿$primary-color: #488aff;
$bg-color: #FFFFFF;

page-completion {
    .completion{
        background-color:$bg-color;
    }
    ion-label{
        color: $primary-color;
        font-size: 4em;
   }
}

